
<!doctype html>
{% load static %}
<html lang="en">
<head>
    <!-- Required meta tags -->
    <meta charset="utf-8">
    <meta name="viewport" content="width=device-width, initial-scale=1, shrink-to-fit=no">
    <title>Het Acharya</title>
    <meta name="description"
          content="A full reponsive website about Het Acharya and his experiences"/>
    <link rel="shortcut icon" href="https://1ginterart-project.s3.amazonaws.com/static/img/logo_1.png" type="image/x-icon">
    <link rel="icon" href="https://1ginterart-project.s3.amazonaws.com/static/img/logo_1.png" type="image/x-icon">

    <!--Google fonts-->
    <link rel="stylesheet" href="https://fonts.googleapis.com/css?family=Pacifico|Inconsolata:400,700">

    <!--vendors styles-->
    <link rel="stylesheet" href="https://cdnjs.cloudflare.com/ajax/libs/font-awesome/4.7.0/css/font-awesome.min.css">
    <link rel="stylesheet" href="https://cdnjs.cloudflare.com/ajax/libs/slick-carousel/1.8.1/slick.min.css">
    <link rel="stylesheet" href="https://cdnjs.cloudflare.com/ajax/libs/slick-carousel/1.8.1/slick-theme.min.css">

    <!-- Bootstrap CSS / Color Scheme -->
    <link rel="stylesheet" href="https://1ginterart-project.s3.amazonaws.com/static/css/default.css" id="theme-color">
</head>
<body data-spy="scroll" data-target="#beleme-navbar" data-offset="0">

<!--hero header-->
<section class="bg-hero py-7 py-md-0" id="home" style="background-image: url(https://1ginterart-project.s3.amazonaws.com/static/img/programming.jpg)">
    <div class="container">
        <div class="row vh-md-100">
            <div class="col-md-8 mx-auto my-auto text-white text-center">
                <img src="{% static 'images/portfolio/img-1.jpg' %}" class="img-fluid rounded-circle img-profile" alt="User" width="300px" height="300px"/>
                <h1 class="my-4">Hi, I'm Het Acharya</h1>
                <p class="lead mb-5 font-weight-bold">
                    A Passionate
                    <span class="typist"
                          data-typist="Web Developer, ETL Developer, Application Developer, BIG DATA solution developer">Developer</span>
                </p>
                <a href="#about" class="btn btn-primary d-inline-flex flex-row align-items-center page-scroll">
                    Know Me Better
                </a>
            </div>
        </div>
    </div>
</section>

<!--navigation-->
<nav class="navbar navbar-expand-md navbar-dark bg-primary sticky-top sticky-navigation" id="beleme-navbar">
    <a class="navbar-brand d-md-none" href="index.html">
        Maginate
    </a>
    <button class="navbar-toggler navbar-toggler-right text-white" type="button" data-toggle="collapse"
            data-target="#navbarCollapse" aria-controls="navbarCollapse" aria-expanded="false"
            aria-label="Toggle navigation">
        <span data-feather="grid"></span>
    </button>
    <div class="collapse navbar-collapse" id="navbarCollapse">
        <ul class="navbar-nav mx-auto">
            <li class="nav-item">
                <a class="nav-link page-scroll" href="#home">Home <span class="sr-only">(current)</span></a>
            </li>
            <li class="nav-item">
                <a class="nav-link page-scroll" href="#about">About</a>
            </li>
            <li class="nav-item">
                <a class="nav-link page-scroll" href="#experience">Experience</a>
            </li>
            <li class="nav-item">
                <a class="nav-link page-scroll" href="#education">Education</a>
            </li>
            <li class="nav-item">
                <a class="nav-link page-scroll" href="#skills">Skills</a>
            </li>
            <li class="nav-item">
                <a class="nav-link page-scroll" href="#services">Services</a>
            </li>
            <li class="nav-item">
                <a class="nav-link page-scroll" href="#portfolio">Portfolio</a>
            </li>
            <li class="nav-item">
                <a class="nav-link page-scroll" href="#contact">Contact</a>
            </li>
        </ul>
    </div>
</nav>

<!--about section-->
<section class="py-7" id="about">
    <div class="container">
        <div class="row">
            <div class="col-md-7 mx-auto text-center">
                <h2>About Me</h2>
                <div class="divider bg-primary mx-auto"></div>
                <p class="lead">
                    Hello, I'm <b>Het Acharya</b>, an independent <b>developer</b> based in <b>Toronto, ON</b>.
                </p>
                <p class="text-muted">
                    I'm currently working at NEXT PATHWAY INC, as a Big Data Solution developer.
                </p>
            </div>
        </div>
        <div class="row mt-5">
            <div class="col-md-6 mx-auto text-center">
                <a class="btn btn-primary" href="https://1ginterart-project.s3.amazonaws.com/static/img/mgallego_resume.pdf" download>
                    Download Resume
                </a>
                <a class="btn btn-outline-primary page-scroll" href="https://github.com/mikeyyg96/">
                    Visit My Github
                </a>
            </div>
        </div>
    </div>
</section>

<!--work experience-->
<section class="py-7 bg-primary" id="experience">
    <div class="container">
        <div class="row">
            <div class="col-md-10 mx-auto">
                <h2 class="text-white text-center">Project Experience</h2>
                <div class="divider bg-white mx-auto"></div>
                <div class="card mt-5">
                    <div class="card-body">
                        <div class="timeline px-sm-5">
                            <div class="root"></div>
                            <div class="root">
				<div class="date">March 2017 &mdash; April 2017</div>
                                <div class="dot"></div>
                                <div class="event">
                                    <h5 class="mb-2">Android Controlled Rover</h5>
                                    <div class="text-muted small-xl">
                                        <span>Valencia College</span>
                                        <span class="bull">•</span>
                                        <span>Orlando, FL</span>
                                    </div>
                                    <div class="content mt-4 px-0">
                                        This was made by building a chassis together and hooking up a Raspberry Pi 2 on
                                        it to receive signals from an Android Device.
                                    </div>
                                </div>
                            </div>
                            <div class="root">
				<div class="date">February 2017 &mdash; June 2017</div>
                                <div class="dot"></div>
                                <div class="event">
                                    <br/>
                                    <h5 class="mb-2">Wai-Kai App</h5>
                                    <div class="text-muted small-xl">
                                        <span>Valencia College</span>
                                        <span class="bull">•</span>
                                        <span>Orlando, FL</span>
                                    </div>
                                    <div class="content mt-4 px-0">
                                        Participating in IT Capstone, I was part of a small group developing a simple
                                        app to collect data pertaining to the water levels in Florida.
                                        This was important since it was during the times of the hurricane and we needed
                                        to see which areas would be safe to stay around. I was in charge
                                        of the back-end, but also worked in the front-end.
                                    </div>
                                </div>
                            </div>
                            <div class="root">
				<div class="date">May 2018 &mdash; June 2018</div>
                                <div class="dot"></div>
                                <div class="event">
                                    <br/>
                                    <h5 class="mb-2">Website with Django</h5>
                                    <div class="text-muted small-xl">
                                        <span>Business Studio</span>
                                        <span class="bull">•</span>
                                        <span>Miami, FL</span>
                                    </div>
                                    <div class="content mt-4 px-0">
                                        Working with a client of mine, I made a website to display audio, video and
                                        images referencing his music business. It was made with Django
                                        framework and bootstrap templates to provide an exceptional UI to the customers
                                        and back-end access to the owner.
                                    </div>
                                </div>
                            </div>
                            <div class="root">
				<div class="date">February 2018 &mdash; April 2018</div>
                                <div class="dot"></div>
                                <div class="event">
                                    <br/>
                                    <h5 class="mb-2">Unity3D Game</h5>
                                    <div class="text-muted small-xl">
                                        <span>Personal</span>
                                        <span class="bull">•</span>
                                        <span>Orlando, FL</span>
                                    </div>
                                    <div class="content mt-4 px-0">
                                        This was experimental, and loads of fun. I made a basic game which the user's
                                        objective is to collect coins in order to go through the next stage,
                                        which the next objective is to get the legendary sword. This game had collision
                                        detection, environmental sounds, and time logic.
                                    </div>
                                </div>
                            </div>
                        </div>
                    </div>
                </div>
            </div>
        </div>
    </div>
</section>

<!--education section-->
<section class="py-7 bg-light" id="education">
    <div class="container">
        <div class="row">
            <div class="col-md-7 mx-auto text-center">
                <h2>Education</h2>
                <div class="divider bg-primary mx-auto"></div>
            </div>
        </div>
        <div class="row mt-5">
            <div class="col-md-4  mb-3">
                <div class="card">
                    <div class="card-body">
                        <span class="text-muted font-weight-bold">2015 &mdash; 2017</span>
                        <h5>Associates in Computer Programming</h5>
                        <p class="text-muted small-xl">Valencia College in Orlando, Florida</p>
                        <p>Took many programming courses including courses working with web, mobile and robotics
                            development. Selected
                            to the Dean's Office for obtaining exceptional grades in my field. Applied what I learned to
                            real life projects.</p>
                    </div>
                </div>
            </div>
            <div class="col-md-4 mb-3">
                <div class="card">
                    <div class="card-body">
                        <span class="text-muted font-weight-bold">2011 &mdash; 2014</span>
                        <h5>High School Diploma, Graduating top 50</h5>
                        <p class="text-muted small-xl">Jones High School in Orlando, Florida</p>
                        <p>Accepted into the National Honor Society. Achieved academic and sports awards such as "Most
                            Improved" and "Academic Achievement".
                            Captain of the Baseball team and one of the top runners in the Cross-Country team (made it to
                            the State Finals).</p>
                    </div>
                </div>
            </div>
            <div class="col-md-4 mb-3">
                <div class="card">
                    <div class="card-body">
                        <span class="text-muted font-weight-bold">2015 &mdash; Current</span>
                        <h5>Self-Teaching</h5>
                        <p class="text-muted small-xl">My Personal Studio in Orlando, Florida</p>
                        <p>Learned how to make my game with Unity3D and C# scripts. Learned more advanced Android Concepts such as
                        Firebase, Camera 2 API, E-Commerce and UI design and animaitions. Learned Python and used it to work on robotics and
                        back-end of websites with Django. Currently learning machine learning and how to apply it to real life situations with tensorflow.</p>
                    </div>
                </div>
            </div>
        </div>
    </div>
</section>

<!--skills section-->
<section class="py-7" id="skills">
    <div class="container">
        <div class="row">
            <div class="col-md-7 mx-auto text-center">
                <h2>My Skills</h2>
                <div class="divider bg-primary mx-auto"></div>
            </div>
        </div>
        <div class="row mt-5">
            <div class="col-md-6 px-5">
                <h5>Design Skills</h5>
                <!-- start for loop -->

                <div class="skill">
                    <div class="skill-name">Mechanical Design <span class="badge badge-primary float-right">50%</span></div>
                    <div class="progress">
                        <div class="progress-bar" role="progressbar" style="width: 50%" aria-valuenow="50"
                             aria-valuemin="0" aria-valuemax="100"></div>
                    </div>
                </div>

                <div class="skill">
                    <div class="skill-name">Unity3D Graphics <span class="badge badge-primary float-right">40%</span></div>
                    <div class="progress">
                        <div class="progress-bar" role="progressbar" style="width: 40%" aria-valuenow="40"
                             aria-valuemin="0" aria-valuemax="100"></div>
                    </div>
                </div>

                <div class="skill">
                    <div class="skill-name">Website UI <span class="badge badge-primary float-right">60%</span></div>
                    <div class="progress">
                        <div class="progress-bar" role="progressbar" style="width: 60%" aria-valuenow="60"
                             aria-valuemin="0" aria-valuemax="100"></div>
                    </div>
                </div>

                <div class="skill">
                    <div class="skill-name">Android UI <span class="badge badge-primary float-right">85%</span></div>
                    <div class="progress">
                        <div class="progress-bar" role="progressbar" style="width: 85%" aria-valuenow="85"
                             aria-valuemin="0" aria-valuemax="100"></div>
                    </div>
                </div>

                <div class="skill">
                    <div class="skill-name">Animation <span class="badge badge-primary float-right">25%</span></div>
                    <div class="progress">
                        <div class="progress-bar" role="progressbar" style="width: 25%" aria-valuenow="25"
                             aria-valuemin="0" aria-valuemax="100"></div>
                    </div>
                </div>

                <!-- end for loop -->
            </div>
            <div class="col-md-6 px-5">
                <h5>Development Skills</h5>
                <!-- start for loop -->

                <div class="skill">
                    <div class="skill-name">HTML/CSS/Javascript <span class="badge badge-primary float-right">55%</span></div>
                    <div class="progress">
                        <div class="progress-bar" role="progressbar" style="width: 55%" aria-valuenow="55"
                             aria-valuemin="0" aria-valuemax="100"></div>
                    </div>
                </div>

                <div class="skill">
                    <div class="skill-name">C# <span class="badge badge-primary float-right">40%</span></div>
                    <div class="progress">
                        <div class="progress-bar" role="progressbar" style="width: 40%" aria-valuenow="40"
                             aria-valuemin="0" aria-valuemax="100"></div>
                    </div>
                </div>

                <div class="skill">
                    <div class="skill-name">Android <span class="badge badge-primary float-right">85%</span></div>
                    <div class="progress">
                        <div class="progress-bar" role="progressbar" style="width: 85%" aria-valuenow="85"
                             aria-valuemin="0" aria-valuemax="100"></div>
                    </div>
                </div>

                <div class="skill">
                    <div class="skill-name">Python <span class="badge badge-primary float-right">70%</span></div>
                    <div class="progress">
                        <div class="progress-bar" role="progressbar" style="width: 70%" aria-valuenow="70"
                             aria-valuemin="0" aria-valuemax="100"></div>
                    </div>
                </div>

                <div class="skill">
                    <div class="skill-name">Java <span class="badge badge-primary float-right">65%</span></div>
                    <div class="progress">
                        <div class="progress-bar" role="progressbar" style="width: 65%" aria-valuenow="65"
                             aria-valuemin="0" aria-valuemax="100"></div>
                    </div>
                </div>

                <!-- end for loop -->
            </div>
        </div>
    </div>
</section>

<!--services section-->
<section class="py-7 bg-primary" id="services">
    <div class="container">
        <div class="row">
            <div class="col-md-7 mx-auto text-center">
                <h2 class="text-white">My Services</h2>
                <div class="divider bg-white mx-auto"></div>
            </div>
        </div>
        <div class="row mt-5">
            <!-- start for loop -->

            <div class="col-md-4 mb-3">
                <div class="card">
                    <div class="card-body text-center">
                        <div class="icon-box">
                            <div class="icon-box-inner small text-primary">
                                <span data-feather="crop" width="30" height="30"></span>
                            </div>
                        </div>
                        <h5 class="my-3">Android Application</h5>
                        <p>Using Android Studio, I will make a UI friendly application with complex functionality and security along with access to database and users.</p>
                    </div>
                </div>
            </div>

            <div class="col-md-4 mb-3">
                <div class="card">
                    <div class="card-body text-center">
                        <div class="icon-box">
                            <div class="icon-box-inner small text-primary">
                                <span data-feather="crop" width="30" height="30"></span>
                            </div>
                        </div>
                        <h5 class="my-3">Web Development</h5>
                        <p>Using Django, I will make a beautiful website for you with access to the back-end with basic functionality.</p>
                    </div>
                </div>
            </div>

            <div class="col-md-4 mb-3">
                <div class="card">
                    <div class="card-body text-center">
                        <div class="icon-box">
                            <div class="icon-box-inner small text-primary">
                                <span data-feather="crop" width="30" height="30"></span>
                            </div>
                        </div>
                        <h5 class="my-3">Tutoring</h5>
                        <p>If you need help on how to get started on a project that I&#39;ve encountered, I will try my best to help in anyway I can.</p>
                    </div>
                </div>
            </div>

            <!-- end for loop -->
        </div>
    </div>
</section>


<!--portfolio section-->
<section class="py-7" id="portfolio">
    <div class="container">
        <div class="row">
            <div class="col-md-6 mx-auto text-center">
                <h2>My Portfolio</h2>
                <div class="divider bg-primary mx-auto"></div>
            </div>
        </div>
        <div class="row mt-5">
            <div class="col-sm-10 mx-auto">
                <div class="slick-slider">
                    <!-- start for loop -->

                    <div class="card mr-3">
                        <a href="https://github.com/mikeyyg96/Maginate_Crate" target="_blank"><img class="card-img-top rounded" src="https://1ginterart-project.s3.amazonaws.com/media/mobile_app.JPG" alt="Work 1" height="225px" width="400px"></a>
                        <div class="card-body px-0">
                            <a href="https://github.com/mikeyyg96/Maginate_Crate" target="_blank"><h5 class="card-title">Maginate Crate App</h5></a>
                            <p class="card-text text-muted">Android Development</p>
                        </div>
                    </div>

                    <div class="card mr-3">
                        <a href="http://1ginterart.com/" target="_blank"><img class="card-img-top rounded" src="https://1ginterart-project.s3.amazonaws.com/media/website.JPG" alt="Work 1" height="225px" width="400px"></a>
                        <div class="card-body px-0">
                            <a href="http://1ginterart.com/" target="_blank"><h5 class="card-title">Website About Latin Music</h5></a>
                            <p class="card-text text-muted">Website Development</p>
                        </div>
                    </div>

                    <div class="card mr-3">
                        <a href="https://github.com/mikeyyg96/rc_valencia" target="_blank"><img class="card-img-top rounded" src="https://1ginterart-project.s3.amazonaws.com/media/rover.jpg" alt="Work 1" height="225px" width="400px"></a>
                        <div class="card-body px-0">
                            <a href="https://github.com/mikeyyg96/rc_valencia" target="_blank"><h5 class="card-title">Android Controlled Rover</h5></a>
                            <p class="card-text text-muted">Robotics</p>
                        </div>
                    </div>

                    <!-- end for loop -->
                </div>
            </div>
        </div>
    </div>
</section>

<!--footer / contact-->
<footer class="py-6 bg-dark text-white" id="contact">
    <div class="container">
        <div class="row">
            <div class="col-md-6">
                <h5 class="text-white">Michael Gallego</h5>
                <div class="divider divider-sm bg-white mt-3"></div>
                <p class="mt-4">
                    My plans for the future involve developing or contributing to something that will be impactful to the world.
                    I want to work on something innovative that almost everyone will be familiar with. I am advancing my technical knowledge
                    in the fields of machine learning and robotics because of the increasing interconnectedness of machines in our daily lives.
                </p>
                <ul class="list-inline social social-sm social-rounded mt-4">
                    <li class="list-inline-item">
                        <a href="https://plus.google.com/u/0/104068121258466642795" target="_blank"><i class="fa fa-google-plus"></i></a>
                    </li>
                    <li class="list-inline-item">
                        <a href="https://www.linkedin.com/in/michael-gallego-804b4514b/" target="_blank"><i class="fa fa-linkedin"></i></a>
                    </li>
                </ul>
            </div>
            <div class="col-md-4 ml-auto">
                <h5 class="text-white">Contact Information</h5>
                <div class="divider divider-sm bg-white mt-3"></div>
                <ul class="list-unstyled mt-4">
                    <li class=" mb-2">
                        <span class="mr-2" data-feather="phone" width="20" height="20"></span>
                        (407) 508 1813
                    </li>
                    <li class=" mb-2">
                        <span class="mr-2" data-feather="mail" width="20" height="20"></span>
                        gallegom58@gmail.com
                    </li>
                    <li class=" mb-2">
                        <span class="mr-2" data-feather="map-pin" width="20" height="20"></span>
                        5772 S Texas Ave Orlando, Florida 32839
                    </li>
                </ul>
            </div>
        </div>
        <hr class="my-5"/>
        <div class="row">
            <div class="col-12 text-muted text-center">
                &copy; Copyright Maginate 2018.
            </div>
        </div>
    </div>
</footer>

<!--scroll to top-->
<div class="scroll-top">
    <i class="fa fa-angle-up" aria-hidden="true"></i>
</div>

<!-- jQuery first, then Popper.js, then Bootstrap JS -->
<script src="https://code.jquery.com/jquery-3.2.1.min.js"></script>
<script src="https://cdnjs.cloudflare.com/ajax/libs/popper.js/1.12.9/umd/popper.min.js"></script>
<script src="https://maxcdn.bootstrapcdn.com/bootstrap/4.0.0-beta.3/js/bootstrap.min.js"></script>
<script src="https://cdnjs.cloudflare.com/ajax/libs/feather-icons/4.5.0/feather.min.js"></script>
<script src="https://cdnjs.cloudflare.com/ajax/libs/Typist/1.2/typist.min.js"></script>
<script src="https://cdnjs.cloudflare.com/ajax/libs/slick-carousel/1.8.1/slick.min.js"></script>
<script src="https://1ginterart-project.s3.amazonaws.com/static/js/scripts.js"></script>
</body>
</html>
